.header {
	text-align: center;
}

#board-container {
  display: grid;
	grid-template-columns: repeat(3, 200px);
	grid-template-rows: repeat(3, 200px);
	justify-content: center;
}

.cell {
	border: 1px solid black;
}

#player-turn > p {
	font-size: 1.5rem;
	text-align: center;
	font-weight: 500;
}